<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <profileable android:shell="true" />
        <activity
            android:name=".benchmark.BenchmarkReaderActivity"
            android:exported="true" />
    </application>
</manifest>
